.main-product {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 20px;
  position: relative;
}

.main-product__photo {
  width: 35%;
  padding-top: 30px;
  text-align: center;
}

.main-product__info {
  width: 60%;
}

.main-product__title {
  @include set-font(26px, 28px, 700);
  text-align: center;
  margin: 0;
}

.main-product__promo-title {
  @include set-font(16px, 18px, 400);
  font-style: italic;
  margin-top: 15px;
}

.main-product__desc-title {
  @include set-font(18px, 20px, 700);
  padding: 0;
  margin: 0;
  margin-top: 20px;
}

.main-product__desc {
  @include set-font(16px, 18px, 400);
  padding: 0;
  margin: 0;
  margin-top: 15px;
}

.main-product__size-btn {
  @include set-font(16px, 18px, 500);
  color: $black;
  padding: 5px 8px;
  background-color: transparent;
  position: relative;
  transform: skew(170deg);
  border: 1.5px solid $red-btn;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  cursor: pointer;

  &:hover,
  &:focus {
    opacity: 0.7;
    border-color: $red-style;
  }

  &:active {
    opacity: 0.6;
    border-color: $red-style-hover;
  }

  &--current {
    color: $white;
    background-color: $red-btn;
    cursor: auto;

    &:hover,
    &:focus {
      opacity: 1;
      border-color: $red-btn;
    }

    &:active {
      opacity: 1;
      border-color: $red-btn;
    }
  }
}

.main-product__size-buttons {
  margin-top: 15px;
}

.main-product__price-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.main-product__price {
  @include set-font(22px, 24px, 500);
  color: $red-style-hover;

  &--old {
    color: $semi-black;
    text-decoration: line-through;
    margin-bottom: 5px;
  }
}

.main-product__count {
  @include set-font(18px, 16px, 500);
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;

  & input {
    @include set-font(20px, 20px, 500);
    width: 35px;
    margin-left: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 0 none;
    background-color: transparent;
  }
}

.main-product__count-controls {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
}

.main-product__count-btn {
  @include set-font(20px, 30px, 500);
  border: 0 none;
  margin-bottom: 5px;
  background-color: $grey;
  border-radius: 50%;
  display: block;
  padding: 0;
  width: 30px;
  height: 30px;
  cursor: pointer;

  &:hover,
  &:focus {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.5;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.main-product__btn {
  @include set-font(16px, 20px, 500);
  text-transform: uppercase;
  color: $white;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 25px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 45px;
  padding-right: 12px;
  border: 0 none;
  background-color: transparent;
  position: relative;
  z-index: 1;
  cursor: pointer;

  &::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $red-btn;
    transform: skew(165deg);
    z-index: -1;
    transition: all 0.5s;
  }

  &:hover::after,
  &:focus::after {
    background-color: $red-style-hover;
  }

  &:active::after {
    background-color: lighten($red-btn, 5);
  }

  &::before {
    position: absolute;
    content: "";
    bottom: 50%;
    transform: translateY(50%);
    left: 15px;
    width: 18px;
    height: 20px;
    background-image: url("../img/basket.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 18px 20px;
  }
}

.main-product__effect {
  display: flex;
  width: 100%;
  margin-bottom: 25px;
}

.main-product__effect-full,
.main-product__effect-empty {
  display: block;
  margin-right: 6px;
  margin-top: 15px;
  width: 20px;
  height: 20px;
  border-bottom-right-radius: 40%;
}

.main-product__effect-full {
  background-color: #d582b7;
}

.main-product__effect-empty {
  background-color: #c7c8ca;
}

@media only screen and (max-width: $tablet-width) {
  .main-product__title {
    @include set-font(22px, 24px, 700);
  }

  .main-product__promo-title {
    @include set-font(14px, 16px, 400);
  }

  .main-product__desc-title {
    @include set-font(16px, 18px, 700);
  }

  .main-product__desc {
    @include set-font(14px, 16px, 400);
  }

  .main-product__price {
    @include set-font(18px, 20px, 500);
  }

  .main-product__count {
    @include set-font(16px, 18px, 500);

    & input {
      @include set-font(16px, 18px, 500);
    }
  }

  .main-product__count-btn {
    @include set-font(18px, 25px, 500);
    width: 25px;
    height: 25px;
  }

  .main-product__btn {
    @include set-font(14px, 20px, 500);
    text-transform: uppercase;
    margin-top: 25px;
    padding: 6px 10px 6px 42px;
  }
}

@media only screen and (max-width: $mobile-width) {
  .main-product {
    flex-wrap: wrap;
    padding-top: 40px;
  }

  .main-product__photo {
    width: 100%;
  }

  .main-product__info {
    width: 100%;
  }

  .main-product__title {
    @include set-font(18px, 20px, 700);
    white-space: nowrap;
    position: absolute;
    top: 0;
    right: 50%;
    transform: translateX(50%);
  }

  .main-product__promo-title {
    @include set-font(14px, 16px, 400);
    position: absolute;
    white-space: nowrap;
    top: 20px;
    right: 50%;
    transform: translateX(50%);
  }
}
